@font-face {
    font-family: 'Epilogue-Black';
    src: url("./Epilogue-Black.woff");
}

@font-face {
    font-family: 'Epilogue-BlackItalic';
    src: url("./Epilogue-BlackItalic.woff");
}

@font-face {
    font-family: 'Epilogue-Bold';
    src: url("./Epilogue-Bold.woff");
}

@font-face {
    font-family: 'Epilogue-BoldItalic';
    src: url("./Epilogue-BoldItalic.woff");
}

@font-face {
    font-family: 'Epilogue-ExtraLight';
    src: url("./Epilogue-ExtraLight.woff");
}

@font-face {
    font-family: 'Epilogue-ExtraLightItalic';
    src: url("./Epilogue-ExtraLightItalic.woff");
}

@font-face {
    font-family: 'Epilogue-Italic';
    src: url("./Epilogue-Italic.woff");
}

@font-face {
    font-family: 'Epilogue-Light';
    src: url("./Epilogue-Light.woff");
}

@font-face {
    font-family: 'Epilogue-LightItalic';
    src: url("./Epilogue-LightItalic.woff");
}

@font-face {
    font-family: 'Epilogue-Medium';
    src: url("./Epilogue-Medium.woff");
}

@font-face {
    font-family: 'Epilogue-MediumItalic';
    src: url("./Epilogue-MediumItalic.woff");
}

@font-face {
    font-family: 'Epilogue-Regular';
    src: url("./Epilogue-Regular.woff");
}

@font-face {
    font-family: 'Epilogue-SemiBold';
    src: url("./Epilogue-SemiBold.woff");
}

@font-face {
    font-family: 'Epilogue-SemiBoldItalic';
    src: url("./Epilogue-SemiBoldItalic.woff");
}

@font-face {
    font-family: 'Epilogue-Thin';
    src: url("./Epilogue-Thin.woff");
}

@font-face {
    font-family: 'Epilogue-ThinItalic';
    src: url("./Epilogue-ThinItalic.woff");
}