// @import '../../_settings/_variables.scss';
.btn {
  padding: 1.6rem 3.4rem;
  border: 1px solid;
  border-radius: 6px;
  font-size: 1.4rem;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Epilogue-Black';

  &.dark-primary {
    background-color: var(--x-bg-9);
    border-color: var(--x-bg-9);
    color: var(--x-bg-1);
  }

  &.dark-secondary {
    border-color: var(--x-bg-42);
    color: var(--x-bg-1);
  }


  &.light-primary {
    background-color: var(--x-bg-3);
    border-color: var(--x-bg-3);
    color: var(--x-bg-1);
  }

  &.light-secondary {
    background-color: var(--x-bg-1);
    border-color: var(--x-bg-1);
    color: var(--x-bg-20);
  }

  &.light-transparent {
    background-color: transparent;
    border: 0;
    color: var(--x-bg-1);
    font-size: 1.6rem;
    text-transform: capitalize;
    font-family: 'Epilogue-Regular';
  }

  &.light-shadow {
    background-color: var(--x-bg-1);
    border-color: var(--x-bg-1);
    box-shadow: 0px 3px 9px #39140014;
  }
}