:root {
  /*
  * Colors
  */


   --x-bg-1: #FFFFFF;
   --x-bg-2: #28293E;
   --x-bg-3: #EF6D58;
   --x-bg-4: #6A6C8E;
   --x-bg-5: #FFFFFFA3;
   --x-bg-6: #B550F6;
   --x-bg-7: #32334C;
   --x-bg-8: #8082A5;
   --x-bg-9: #B550F8;
   --x-bg-10: #F7CC47;
   --x-bg-11: #DFE0E9;
   --x-bg-12: #FDF0E9;
   --x-bg-13: #F3D1BF;
   --x-bg-14: #F9E5DA;
   --x-bg-15: #E7C4B2;
   --x-bg-16: #551E0015;
   --x-bg-17: #F5DED1;
   --x-bg-18: #B4ABBA;
   --x-bg-20: #391400;
   --x-bg-21: #391400A3;
   --x-bg-22: #9B9B9B;
   --x-bg-23: #FFFFFF80;
   --x-bg-24: #570B00;
   --x-bg-25: #EF6C57;
   --x-bg-26: #39140014;
   --x-bg-27: #AAAAAA;
   --x-bg-28: #3914000A;
   --x-bg-29: #F7CB47;
   --x-bg-30: #551E000A;
   --x-bg-31: #F4E4FF;
   --x-bg-32: #3A3C56;
   --x-bg-33: #4E4F6E;
   --x-bg-34: #494A69;
   --x-bg-35: #F6D021;
   --x-bg-36: #F6DACA;
   --x-bg-37: #D8D8D8;
   --x-bg-38: #F38472;
   --x-bg-39: #FFD5CE;
   --x-bg-40: #FFE4DF;
   --x-bg-41: #F094E3;
   --x-bg-42: #FFFFFF4B;

   --defaultTextColor: #222d43;

   .mt34 {
     margin-top: 3.4rem;
   }

   .mt22 {
     margin-top: 2.2rem;
   }

}

